/* CSS Document for the ABM website. This has been designed to learn HTML    *
 * and CSS, rather than to make the website look pretty. Though I hope it at *
 * least looks neat!                                                         */


/* The main body of the text - minimum width set to 600px so there are no
 * problems when re-sizing the window. Background colour is set to white. */

body {
	min-width: 600px;
	margin: 0;
	background-color: #FFFFFF;
	font-family: verdana, arial, sans-serif;
	font-size: .75em;
	padding: 0;
}


/* Just for fun, let's make the first letter of the first paragraph in each  *
 * div large and bold. The id selector is needed so we don't do the same to  *
 * the footer                                                                */

[id=content] p:first-of-type:first-letter {
	font-size: 170%;
	font-weight: bold;
}


/*****************************************************************************
 * ID selectors                                                              *
 *****************************************************************************/

/* The top banner with the main title of the website. */

#banner {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #C1E0F7;
	border-bottom: solid 1px #999;
	padding: 5px 5px 5px 10px;
	line-height: 75%;
	color: #fff;
}


/* The page title, set just below the main banner.                           */

#sub_banner {
	background-color: #A4DEF9;
	border-bottom: solid 5px #97F9F9;
	font-size: .8em;
	font-style: italic;
	padding: 5px 5px 5px 200px;
	left: 175px;
	right: 175px;
}


/* The main content of the page. Set with margins large enough to accomodate *
 * the link menus                                                            */

#content {
	position: absolute;
	margin-left: 180px;
	margin-right: 180px;
	top: 115px;
	padding: 5px 5px 50px 10px;
}




/* The footer containing authorship and copyright info */

#footer {
	clear: both;
	position: relative;
	text-align: center;
	bottom: 0;
	font-size: 75%;
	width: 100%;
	height: 10px;
	padding: 20px 5px 5px 5px;
}


/*****************************************************************************
 * Class selectors                                                           *
 *****************************************************************************/

.title {
	font-size: 120%;
}


/* The content class is required so we can make the first letter bigger      */

.content {
	font-family: Verdana, Arial, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}

/* The right-hand navigation bar containing external links                   * 
 * I don't know why the navbars do not extend to the botoom of the parent div*/

.nav1 {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 170px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: -1; /* Stay underneath the banners */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #DDDDDD; /* Grey */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 150px;
	padding-left: 5px;
}

/* The navigation menu links */
.nav1 a {
	  padding: 6px 8px 6px 16px;
	  text-decoration: none;
	  font-size: 16px;
	  color: #000000;
	  display: block;
}

/* When you mouse over the navigation links, change their color */
.nav1 a:hover {
	  color: #ffffff;
}

/* The left-hand navigation bar containing links to other parts of the       *
 * website or the code repository                                            */

.nav2 {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 170px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: -1; /* Stay underneath the banners */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #DDDDDD; /* Grey */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 150px;
	padding-left: 5px;
}

/* The navigation menu links */
.nav2 a {
	  padding: 6px 8px 6px 16px;
	  text-decoration: none;
	  font-size: 16px;
	  color: #000000;
	  display: block;
}

/* When you mouse over the navigation links, change their color */
.nav2 a:hover {
	  color: #ffffff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.nav1 {padding-top: 15px;}
	.nav1 a {font-size: 18px;}
	.nav2 {padding-top: 15px;}
	.nav2 a {font-size: 18px;}
}
