/* CSS Document for the ABM website */
/* The main body of the text - minimum width set to 600px so there are no
 * problems when re-sizing the window. Background colour is set to white. */
body {
	min-width: 600px;
	margin: 0;
	background-color: #FFFFFF;
	font-family: verdana, arial, sans-serif;
	font-size: .75em;
	padding: 0;
}
/* The top banner with the main title of the website. */
#banner {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #C1E0F7;
	border-bottom: solid 1px #999;
	padding: 5px 5px 5px 10px;
	line-height: 75%;
	color: #fff;
}
/* The page title, set just below the main banner. Left margin set so it is not
 * covered by the left navigation bar */
#sub_banner {
	margin-left: 180px;
	background-color: #A4DEF9;
	border-bottom: solid 5px #97F9F9;
	font-size: .8em;
	font-style: italic;
	padding: 5px 5px 5px 10px;
}
#content {
	position: absolute;
	margin-left: 180px;
	margin-right: 20%;
	top: 110px;
	padding: 5px 5px 5px 10px;
}
/* The right-hand navigation bar */
#nav1 {
	width: 170px;
	height: 100%;
	background-color: #DDDDDD;
	position: absolute;
	padding: 5px 5px 5px 10px;
	right: 0;
}
#nav2 {
	width: 170px;
	height: 100%;
	background-color: #DDDDDD;
	position: absolute;
	padding: 5px 5px 5px 10px;
	top: 76px;
}

#footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 40%;
	font-size: 75%;
}
.title {
	font-size: 120%;
}
.content {
	font-family: Verdana, Arial, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}
